.section-sponsors {
  /*@include texture("blue");*/
}

.sponsors-list, .partners-list {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}
.sponsors-list {
  margin-bottom: rem(30px);
  @media screen and (min-width:$minor-viewport) {
    margin-bottom: rem(50px);
  }
}
.sponsor-item, .partner-item-walle, .partner-item-r2d2,.partner-item-t1000,.partner-item-optimus,.partner-item-singularity{
  width: 20%;
  margin: 0 .5% 2% .5%;
  min-width: rem(150px);
  display: inline-block;
}

.partner-item-walle {
  width: 10%;
  min-width: rem(100px);
}
.partner-item-r2d2 {
  width: 15%;
  min-width: rem(100px);
}
.partner-item-t1000 {
  width: 20%;
  min-width: rem(100px);
}
.partner-item-optimus {
  width: 25%;
  min-width: rem(100px);
}
.partner-item-singularity {
  width: 40%;
  min-width: rem(100px);
}
.sponsor-logo, .partner-logo {
  display: block;
  width: 100%;  
}
