.about-text {
  margin: 0 auto;
  @media screen and (min-width:$minor-viewport) {
    width: 70%;
  }
}
.about-photo {
  width: 35%;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}
.about-plus{
  width: 10%;
  height: 10%;
  margin-top: 10%;
  margin-left: 8%;
  @extend %grayscale;
}
