.about-text {
  margin: 0 auto;
  @media screen and (min-width:$minor-viewport) {
    width: 70%;
  }
}
.about-photo {
  width: 100%;
  border-radius: 40%;
  display: block;
  margin: 0 auto;
}
.about-plus{
  width: 10%;
  height: 10%;
  margin-bottom: 6%;
  display: inline-block;
  @extend %grayscale;
}
.cycle-slideshow{
  width: 20%;
  height: 100%;
  vertical-align: 0;
  display: inline-block
}